.page-heading{
 text-align: center;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: rgb(46, 46, 46);
 margin-top: 5rem;
 letter-spacing: 1px;
}

.container{
 font-size: 25px;
 min-height: 50vh;
}

.dark{
  background-color: rgb(37, 37, 37);
  color: white !important;
}

.dark li:hover{
  background-color: rgb(37, 37, 37);
}

.lorem {
	letter-spacing: 3px;
}