.container{
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(46, 46, 46);
 min-height: 50vh;
}

.page-heading{
 text-align: center;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: rgb(46, 46, 46);
 margin-top: 5rem;
 margin-bottom: 2rem;
}

.contact-form{
 max-width: 25rem;
 margin: auto;
}

.form-control{
 border: 1px solid !important;
 border-radius: 1rem !important;
 max-width: 25rem;
 margin: auto;
}

.text-area{
 min-height: 10rem !important;
}

.error{
 color: red;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}

.submit-btn{
 background-color: #ff6300;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 padding: 0.25rem 1rem 0.25rem 1rem;
 border: 0px solid;
 border-radius: 2rem;
 min-width: 25%;
 margin: 2rem auto;
}

.submit-btn:hover{
 background-color: #db5400;
}